@font-face {
    font-family: "Valera";
    src: url("./font/VarelaRound-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Valera";
    user-select: none;
}

html {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    position: relative;
    background-color: rgba(30, 28, 32);
    color: #444;
}

body.light {
    background-color: #eee;
}

.main-wrapper {
    display: flex;
}

main {
    position: relative;
    width: 70%;
    height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #ccc;
    text-align: center;
    margin-top: 20px;
}

body.light h1 {
    color: #333;
}

button {
    margin: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ccc;
    font-size: 24px;
    border: 2px solid rgba(30, 28, 32);
    border-radius: 7px;
    box-shadow: 
        7px 7px 5px rgba(0, 0, 0, 0.7), 
        -5px -5px 5px rgba(255, 255, 255, 0.05),
        20px 20px 20px inset rgba(0, 0, 0, 0.3),
        -10px -10px 10px inset rgba(255, 255, 255, 0.02);
}

body.light button {
    color: #333;
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 15px;
    box-shadow: 
        5px 5px 5px rgba(0, 0, 0, 0.3), 
        -10px -10px 20px rgba(255, 255, 255, 1),
        20px 20px 20px inset rgba(0, 0, 0, 0.1),
        -10px -10px 20px inset white;
}

button#generate-btn {
    margin: 40px;
}

input {
    outline: none;
}

.problem__btn-box button#generate-btn, .problem__btn-box button#show-btn {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0.5em 1.2em;
    width: 360px;
    height: 80px;
    font-size: 24px;
}

.problem__btn-box button#generate-btn:hover, .problem__btn-box button#show-btn:hover {
    font-size: 23px;
    box-shadow: 
        15px 15px 30px rgba(0, 0, 0, 0.7), 
        -5px -5px 5px rgba(255, 255, 255, 0.05),
        20px 20px 20px inset rgba(0, 0, 0, 0.4),
        -10px -10px 10px inset rgba(255, 255, 255, 0.05);
}

body.light .problem__btn-box button#generate-btn:hover, body.light .problem__btn-box button#show-btn:hover {
    box-shadow: 
        1px 1px 5px rgba(0, 0, 0, 0.3), 
        -10px -10px 20px white,
        20px 20px 20px inset rgba(0, 0, 0, 0.17),
        -10px -10px 20px inset white;
}

.problem__btn-box button#generate-btn i, .problem__btn-box button#show-btn i {
    color: #999;
    padding: 5px 30px;
    margin-right: 20px;
    box-shadow: -5px -5px 20px black, 5px 5px 15px rgba(255, 255, 255, 0.07);
    border: 2px solid #222;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 7px;
}

body.light .problem__btn-box button#generate-btn i, body.light .problem__btn-box button#show-btn i {
    color: #333;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.05), 5px 5px 10px rgba(255, 255, 255, 1);
}

button:focus {
    border: 2px solid rgb(50, 80, 70) !important;
    color: rgb(47, 177, 134) !important;
    text-shadow: 2px 2px black;
    outline: none;
}

body.light button:focus {
    color: #333 !important;
    background-color: #49dde9;
    text-shadow: none;
    box-shadow: 
        1px 1px 5px rgba(0, 0, 0, 0.3),
        -10px -10px 20px white,
        20px 20px 20px inset rgba(0, 0, 0, 0.2),
        -10px -10px 20px inset rgba(255, 255, 255, 0.4) !important;
}

button:focus i {
    color: rgb(47, 177, 134) !important;
    box-shadow: none !important;
}

body.light button:focus i {
    color: #333 !important;
    background-color: rgba(0, 0, 0, 0.5);
}

button:hover {
    color: white;
    border: 2px solid rgb(50, 80, 70);
    box-shadow: 
        5px 5px 5px rgba(0, 0, 0, 0.7), 
        -5px -5px 5px rgba(255, 255, 255, 0.05),
        20px 20px 20px inset rgba(0, 0, 0, 0.7),
        -10px -10px 10px inset rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

#show-btn {
    display: none;
}

p#problem {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

p#problem span.text {
    color: #aaa;
    font-size: 80px;
    cursor: default;
}

body.light p#problem span.text {
    color: #333;
}

p#problem span.text--padding {
    opacity: 0;
}

p#problem span.text--separator {
    display: block;
    border-top: 3px solid #aaa;
    color: transparent;
    max-height: 2px;
    width: 100%;
}

body.light p#problem span.text--separator {
    border-color: #333;
}

p#problem span.text--operand {
    display: inline-block;
    min-width: 50px;
}

p#problem span.text--solution-hidden {
    display: none;
}

aside#settings {
    width: 30%;
    height: 80vh;
    border-left: 1px solid #444;
}

body.light aside#settings {
    border-left: 2px solid #333;
}

aside > .operations {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444;
    overflow-x: auto;
}

body.light aside > .operations {
    border-bottom: 2px solid #333;;
}

/* Customize the label (the container) */
label.checkbox-container {
    position: relative;
    display: block;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    color: white;
    font-size: 30px;
    border: 2px solid rgba(30, 28, 32);
    border-radius: 7px;
    box-shadow: 
        5px 5px 5px rgba(0, 0, 0, 0.7), 
        -5px -5px 5px rgba(255, 255, 255, 0.05),
        20px 20px 20px inset rgba(0, 0, 0, 0.3),
        -10px -10px 10px inset rgba(255, 255, 255, 0.02);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

body.light label.checkbox-container {
    color: #333;
    border-radius: 15px;
    box-shadow: 
        5px 5px 5px rgba(0, 0, 0, 0.3), 
        -10px -10px 20px rgba(255, 255, 255, 1),
        20px 20px 20px inset rgba(0, 0, 0, 0.1),
        -10px -10px 20px inset white;        
}

label.checkbox-container:hover {
    font-size: 26px;
    border: 2px solid rgb(50, 80, 70);
    box-shadow: 
        5px 5px 5px rgba(0, 0, 0, 0.7), 
        -5px -5px 5px rgba(255, 255, 255, 0.05),
        20px 20px 20px inset rgba(0, 0, 0, 0.7),
        -10px -10px 10px inset rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

body.light label.checkbox-container:hover {
    color: #333;
    font-size: 28px;
    border-radius: 15px;
    box-shadow: 
        1px 1px 5px rgba(0, 0, 0, 0.3), 
        -10px -10px 20px white,
        20px 20px 20px inset rgba(0, 0, 0, 0.17),
        -10px -10px 20px inset white;
}

label.checkbox-container span {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

body.light label.checkbox-container span {
    color: #333;
}

label.checkbox-container:hover span {
    color: #999;
}
  
  /* Hide the browser's default checkbox */
label.checkbox-container input {
    content: none;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -28px;
    left: 20px;
    height: 14px;
    width: 14px;
    border: 2px solid rgb(50, 80, 70);
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 
        -2px -2px 2px rgba(0, 0, 0, 0.7), 
        5px 5px 5px rgba(255, 255, 255, 0.05);
}

body.light .checkmark {
    border-color: #333;
    background: rgba(0, 0, 0, 0.07);
    box-shadow: 
        -1px -1px 2px rgba(0, 0, 0, 0.3), 
        5px 5px 5px white;
}

label.checkbox-container input:checked ~ .checkmark {
    background-color: rgb(47, 177, 134);
}

body.light label.checkbox-container input:checked ~ .checkmark {
    background-color: #49dde9;
}

aside {
    overflow: auto;
    max-height: 85vh;
}

aside #settings__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    border-bottom: 1px solid #444;
}

body.light aside #settings__options {
    border-bottom: 2px solid #333;
}

aside #settings__options > div {
    width: 100%;
    max-width: 50vw;
    padding: 7px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #111;
}

body.light #settings__options > div {
    border-bottom: 1px solid #c8c8c8;
}

aside #settings__options > div:first-child {
    padding-top: 12px;
}

aside #settings__options > div:last-child {
    padding-bottom: 12px;
    border-bottom: none;
}

aside #settings__options button {
    margin: 0;
    width: 60px;
    height: 60px;
    font-size: 20px;
}

body.light aside #settings__options button:focus i {
    background: transparent;
}

aside #settings__options button:hover {
    color: #aaa;
    border: 2px solid rgb(50, 80, 70);
    font-size: 16px;
    box-shadow: 
        5px 5px 5px rgba(0, 0, 0, 0.7), 
        -5px -5px 5px rgba(255, 255, 255, 0.05),
        20px 20px 20px inset rgba(0, 0, 0, 0.7),
        -10px -10px 10px inset rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

body.light aside #settings__options button:hover {
    color: #222;
    box-shadow: 
        1px 1px 5px rgba(0, 0, 0, 0.3), 
        -10px -10px 20px white, 
        20px 20px 20px inset rgba(0, 0, 0, 0.17), 
        -10px -10px 20px inset white;
}

aside #settings__options span {
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    color: #777;
}
  
body.light aside #settings__options span {
    color: #333;
}

.numberbox {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #444;
}

body.light .numberbox {
    background-color: rgba(0, 0, 0, 0.02);
    border-bottom: 2px solid #333;
}

.numberbox:last-child, body.light .numberbox:last-child  {
    border-bottom: none;
}

h2.numberbox__title {
    height: 40px;
    line-height: 40px;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #444;
}

body.light h2.numberbox__title {
    background-color: rgba(0, 0, 0, 0.09);
    border-bottom: 2px solid #333;
    color: #333;
}

.ranges-wrapper, .number-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.ranges-wrapper > div, .number-wrapper > div {
    padding: 10px 0;
}

.ranges-wrapper label, .number-wrapper label {
    padding-right: 30px;
    font-size: 20px;
    color: #777;
}

body.light .ranges-wrapper label, body.light .number-wrapper label {
    color: #333;
}

.ranges-wrapper input, .number-wrapper input {
    height: 40px;
    width: 170px;
    padding: 0 20px;
    background-color: #ccc;
    border-width: 0;
    border-radius: 20px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    box-shadow: 5px 5px 10px inset #666, -2px -2px 0px inset black;
}

body.light .ranges-wrapper input, body.light .number-wrapper input {
    color: #333;
    background-color: #eee;
    border: 2px solid #333;
    box-shadow: 5px 5px 10px inset rgba(0, 0, 0, 0.15), -2px -2px 4px inset white;
}

.number-wrapper input[type=checkbox] {
    appearance: none;
    width: 40px;
    height: 40px;
    margin-right: auto;
    padding: 0;
    border-radius: 7px;
    background-color: #aaa;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.1), -5px -5px 10px black;
    outline: none;
}

.number-wrapper input[type=checkbox]:checked:after {
    content: "\2713";
    appearance: initial;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 5px;
    color: rgb(47, 177, 134);
}

body.light .number-wrapper input[type=checkbox]:checked:after {
    min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;
    background: rgba(0, 0, 0, 0.1);
    color: #555;
}

.number-wrapper input[type=checkbox]:disabled {
    background-color: #777;
}

.number-wrapper input[type=checkbox]:disabled:after {
    color: #444;
}

input:disabled {
    background: #777;
    box-shadow: -7px -7px 20px black, 10px 10px 10px inset #666, -2px -2px 0px inset black;
}

/*  FOOTER */

footer {
    display: flex;
    min-height: 20vh;
    border-top: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.3);
}

body.light footer {
    background-color: #eee;
    border-top: 2px solid #333;
}


/* USER MESSAGE */

#user-message-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

#user-message {
    width: 800px;
    height: 500px;
    top: 0;
    left: 0;
    background-color: rgba(30, 28, 32);
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

body.light #user-message {
    background-color: #eee;
    border: 2px solid #222;
}

h6#user-message__title {
    max-height: 70px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #777;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #444;
}

body.light h6#user-message__title {
    border-bottom: 2px solid #222;
    background-color: rgba(0, 0, 0, 0.1);
    color: #222;
}

.user-message__origin {
    font-style: italic;
    color: #555;
}

button#user-message__close {
    margin: 5px;
    padding: 2px;
    width: 40px;
    height: 40px;
}

body.light button#user-message__close:hover {
    font-size: 22px;
    box-shadow: 
        1px 1px 5px rgba(0, 0, 0, 0.3), 
        -10px -10px 20px white,
        20px 20px 20px inset rgba(0, 0, 0, 0.17), 
        -10px -10px 20px inset white;
}

div#user-message__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

p#user-message__text {
    width: 80%;
    font-size: 22px;
    color: #ccc;
}

body.light p#user-message__text {
    color: #222;
}

p#user-message__details {
    width: 80%;
    font-size: 18px;
    color: #777;
}

body.light p#user-message__details {
    color: #444;
}

#user-message__ok {
    width: 100px;
    padding: 0.5em 1.2em;
    margin: 20px 0;
}

body.light #user-message__ok:hover {
    box-shadow: 
        1px 1px 5px rgba(0, 0, 0, 0.3), 
        -10px -10px 20px white,
        20px 20px 20px inset rgba(0, 0, 0, 0.17), 
        -10px -10px 20px inset white;
}

/* SOLUTION */

#detailed-solution {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex; /* JS will toggle display between flex and none */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(30, 28, 32);
    overflow: auto;
    z-index: 100;
}

#detailed-solution .problem__btn-box button {
    width: 60px;
    max-width: 60px;
    height: 60px;
    margin: 18px;
    padding: 0;
    font-size: 18px;
}

#calculation {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;    
}

#grid {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.cell {
    position: relative;
    min-width: 50px;
    text-align: center;
    font-size: 60px;
    color: #aaa;

}

.row span.text--separator {
    display: block;
    border-bottom: 3px solid #aaa;
    color: transparent;
    max-height: 2px;
    min-width: 50px;
    margin-bottom: 20px;
}

.highlight {
    color:rgb(47, 177, 134);
}

.placeholder {
    color: transparent;
}

.carry-box {
    position: absolute;
    width: 50px;
    height: 70px;
    top: -60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.carry-digit {
    min-width: 16px;
    height: 22px;
    font-size: 18px;
    text-align: center;
    color: rgb(47, 177, 134);
}

.carry-digit--prev {
    min-width: 16px;
    height: 22px;
    font-size: 18px;
    text-align: center;
    color: #aaa;
}

.calculation__info {
    position: relative;
    width: 30%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding: 40px;
    padding-bottom: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #444;
    border-radius: 7px;
    font-weight: thin;
    font-size: 20px;
    color:#aaa;
    text-align: justify;
}

#info__pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #444;
    color: #444;
}

#info__pagination span {
    margin: 0 10px;
}

#info__pagination span:first-child {
    color: #ccc;
}

.calculation__info i {
    color: #777;
    font-size: 24px;
}

.calculation__info i.highlight {
    color: rgb(47, 177, 134);
}

.calculation__info span {
    margin-top: 30px;
}

.calculation__info span:first-child {
    margin-top: 0;
}

.problem__btn-box div {
    display: flex;
    justify-content: center;
}

.page-indicator {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgb(50, 80, 70);
    border-radius: 10px;
    cursor: pointer;
}

.page-indicator.active {
    background-color: rgb(47, 177, 134);
    width: 28px
}


/* Multiplication Table */
#multiplication-table-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5000;
}

table#multiplication-table {
    background-color: #151416;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    border-radius: 7px;
    text-shadow: 2px 2px black;
}

table#multiplication-table tbody {
    border-radius: 7px;
}

table#multiplication-table tr td {
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #222; 
    color: #555;
    font-weight: lighter;
    font-size: 22px;
    cursor: crosshair;
}

table#multiplication-table tr:first-child {
    background-color: #111012;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

table#multiplication-table tr:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

table#multiplication-table tr:first-child td:last-child {
    border-top-right-radius: 7px;
}

table#multiplication-table tr:last-child td:first-child {
    border-bottom-left-radius: 7px;
}

table#multiplication-table tr:last-child td:last-child {
    border-bottom-right-radius: 7px;
}

table#multiplication-table tr td:first-child {
    background-color: #111012;
    color: #ccc;   
}

table#multiplication-table tr:first-child td:first-child {
    color: #777;
    border-top-left-radius: 7px;
}

table#multiplication-table tr:first-child td {
    color: #ccc;
}

table#multiplication-table tr td.highlight-td {
    color: #ccc;
    background-color: #111012;
    font-size: 24px;
}

table#multiplication-table tr:first-child td.highlight-td, table#multiplication-table tr td.highlight-td:first-child {
    color: rgb(47, 177, 134)
}

table#multiplication-table tr td:hover {
    color: rgb(47, 177, 134);
    font-size: 30px;
}


/* Tablet Landscape */
@media all and (max-width: 1450px), (max-device-width: 1450px)  {
    body {
        max-width: 100vw;
    }
    .main-wrapper {
        flex-direction: column;
        max-width: 100vw;
    }

    main {
        width: 100vw;
        max-width: 100vw;
        height: 85vh;        
    }
    
    aside#settings {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: none;
    }
    
    aside > .operations {
        height: 15vh;
        width: 100vw;
        padding: 40px 0 20px 0;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
    }

    label.checkbox-container {
        margin: 0 20px;
    }

    aside #settings__options {
        min-width: 100vw;
    }

    .numberbox{
        width: 50vw;
        justify-content: center;
        border: 1px solid #444;
        margin: 20px 0;
    }
}


/* Mobile Portrait and Landscape */
@media (max-device-width: 1280px), (max-width: 1280px) {
    .numberbox {
        width: 90vw;
    }
}