*::-webkit-scrollbar{
    width: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: -2px -2px 3px black;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(47, 177, 134);
    border-radius: 5px;
    box-shadow: 2px 2px 3px inset rgba(255, 255, 255, 0.2), -2px -2px 2px inset rgba(0, 0, 0, 0.4);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(47, 177, 134) rgba(0, 0, 0, 0.4);
    scroll-behavior: smooth;
}

/*  FOOTER */

footer {
    display: flex;
    min-height: 20vh;
    border-top: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.3);
}

body.light footer {
    background-color: #eee;
    border-top: 2px solid #333;
}

/* USER MESSAGE */

#user-message-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

#user-message {
    width: 800px;
    height: 500px;
    top: 0;
    left: 0;
    background-color: rgba(30, 28, 32);
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

body.light #user-message {
    background-color: #eee;
    border: 2px solid #222;
}

h6#user-message__title {
    max-height: 70px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #777;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #444;
}

body.light h6#user-message__title {
    border-bottom: 2px solid #222;
    background-color: rgba(0, 0, 0, 0.1);
    color: #222;
}

.user-message__origin {
    font-style: italic;
    color: #555;
}

button#user-message__close {
    margin: 5px;
    padding: 2px;
    width: 40px;
    height: 40px;
}

body.light button#user-message__close:hover {
    font-size: 22px;
    box-shadow: 
        1px 1px 5px rgba(0, 0, 0, 0.3), 
        -10px -10px 20px white,
        20px 20px 20px inset rgba(0, 0, 0, 0.17), 
        -10px -10px 20px inset white;
}

div#user-message__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

p#user-message__text {
    width: 80%;
    font-size: 22px;
    color: #ccc;
}

body.light p#user-message__text {
    color: #222;
}

p#user-message__details {
    width: 80%;
    font-size: 20px;
    color: #777;
}

body.light p#user-message__details {
    color: #444;
}

#user-message__ok {
    width: 100px;
    padding: 0.5em 1.2em;
    margin: 20px 0;
}

body.light #user-message__ok:hover {
    box-shadow: 
        1px 1px 5px rgba(0, 0, 0, 0.3), 
        -10px -10px 20px white,
        20px 20px 20px inset rgba(0, 0, 0, 0.17), 
        -10px -10px 20px inset white;
}

/* SOLUTION */

#detailed-solution {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex; /* JS will toggle display between flex and none */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(30, 28, 32);
    overflow: auto;
    z-index: 100;
}

body.light #detailed-solution {
    background-color: #eee;
}

#detailed-solution .problem__btn-box button {
    width: 60px;
    max-width: 60px;
    height: 60px;
    margin: 18px;
    padding: 0;
    font-size: 18px;
}

#calculation {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;    
}

#grid {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.cell {
    position: relative;
    min-width: 50px;
    text-align: center;
    font-size: 60px;
    color: #aaa;
}

body.light .cell {
    color: #444;
}

.row span.text--separator {
    display: block;
    border-bottom: 3px solid #aaa;
    color: transparent;
    max-height: 2px;
    min-width: 50px;
    margin-bottom: 20px;
}

body.light .row span.text--separator {
    border-bottom: 3px solid #444;
}

.highlight {
    color:rgb(47, 177, 134);
}

body.light .highlight {
    color: #009dab;
}

.placeholder, body.light .placeholder {
    color: transparent;
}

.carry-box {
    position: absolute;
    width: 50px;
    height: 70px;
    top: -60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.carry-digit {
    min-width: 16px;
    height: 22px;
    font-size: 18px;
    text-align: center;
    color: rgb(47, 177, 134);
}

body.light .carry-digit {
    color: #009dab;
}

.carry-digit--prev {
    min-width: 16px;
    height: 22px;
    font-size: 18px;
    text-align: center;
    color: #aaa;
}

body.light .carry-digit--prev {
    color: #444;
}

.calculation__info {
    position: relative;
    width: 30%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding: 40px;
    padding-bottom: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #444;
    border-radius: 7px;
    font-weight: thin;
    font-size: 20px;
    color:#aaa;
    text-align: justify;
}

body.light .calculation__info {
    background-color: rgba(0, 0, 0, 0.05);
    color: #444;
    border: 2px solid #222;
}

#info__pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #444;
    color: #444;
}

#info__pagination span {
    margin: 0 10px;
}

#info__pagination span:first-child {
    color: #ccc;
}

body.light #info__pagination span:first-child {
    color: #222;
    font-weight: bold;
}

.calculation__info i {
    color: #777;
    font-size: 24px;
}

body.light .calculation__info i {
    color: #222;
}

.calculation__info i.highlight {
    color: rgb(47, 177, 134);
}

body.light .calculation__info i.highlight {
    color: #009dab;
}

.calculation__info span {
    margin-top: 30px;
}

.calculation__info span:first-child {
    margin-top: 0;
}

.problem__btn-box div {
    display: flex;
    justify-content: center;
}

.page-indicator {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgb(50, 80, 70);
    border-radius: 10px;
    cursor: pointer;
}

body.light .page-indicator {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #222;
}

.page-indicator.active {
    background-color: rgb(47, 177, 134);
    width: 28px
}

body.light .page-indicator.active {
    background-color: #49dde9;
}

/* Multiplication Table */
#multiplication-table-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5000;
}

table#multiplication-table {
    background-color: #151416;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    border-radius: 7px;
    text-shadow: 2px 2px black;
}

body.light table#multiplication-table {
    background-color: #eee;
    text-shadow: none;
    border-color: #444;
    color: #222;
}

table#multiplication-table tr td {
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #222; 
    color: #555;
    font-weight: lighter;
    font-size: 22px;
    cursor: none;
}

body.light table#multiplication-table tr td {
    border-color: #444;
    color: #444;
}

table#multiplication-table tr:first-child {
    background-color: #111012;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

body.light table#multiplication-table tr:first-child {
    background-color: #ccc;
}

table#multiplication-table tr:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

table#multiplication-table tr:first-child td:last-child {
    border-top-right-radius: 7px;
}

table#multiplication-table tr:last-child td:first-child {
    border-bottom-left-radius: 7px;
}

table#multiplication-table tr:last-child td:last-child {
    border-bottom-right-radius: 7px;
}

table#multiplication-table tr td:first-child {
    background-color: #111012;
    color: #ccc;   
}

body.light table#multiplication-table tr td:first-child {
    background-color: #ccc;
}

table#multiplication-table tr:first-child td:first-child {
    color: #777;
    border-top-left-radius: 7px;
}

body.light table#multiplication-table tr:first-child td:first-child {
    color: black;
}

table#multiplication-table tr:first-child td {
    color: #ccc;
}

body.light table#multiplication-table tr:first-child td {
    color: black;
}

table#multiplication-table tr td.highlight-td {
    color: #ccc;
    background-color: #111012;
    font-size: 24px;
}

body.light table#multiplication-table tr td.highlight-td {
    color: black;
    background-color: #bbb;
}

table#multiplication-table tr:first-child td.highlight-td, 
table#multiplication-table tr td.highlight-td:first-child {
    color: rgb(47, 177, 134)
}

body.light table#multiplication-table tr:first-child td.highlight-td, 
body.light table#multiplication-table tr td.highlight-td:first-child {
    color: black;
    font-weight: bold;
}

table#multiplication-table tr td:hover {
    color: rgb(47, 177, 134);
    font-size: 30px;
    transform: scale(1.3);
    border-width: 3px;
}

body.light table#multiplication-table tr td:hover {
    background-color: #999;
}